div(hb-card-header)
    ul
        li(ng-show="elfinForm.year.$error.minlength")
            != "<strong>L'année</strong> doit être composée de quatre positions."
        li(ng-show="elfinForm.year.$error.maxlength")
            != "<strong>L'année</strong> doit être composée de quatre positions."
        li(ng-show="elfinForm.objectif.$error.required")
            != "Le <strong>numéro de prestation {SAI}.{index}</strong> défini par la combinaison {'Propriétaire','No SAI', 'Groupe Transaction', 'Année'} est obligatoire!"

div.row(style="padding-top: 8px;")
    div.col-xs-12
        uib-tabset
            <!-- Transaction tab -->
            uib-tab
                uib-tab-heading Transaction
                div.hb-tab
                    div.row
                        <!-- 1st column -->
                        div.col-sm-6
                            div.form-group.has-feedback
                                label.col-sm-4.control-label(for="abaimmo_source") No AbaIMMO Immeuble
                                p#abaimmo_source.col-sm-8.form-control-static {{ sourceAbaImmo }}

                            div#owner.form-group.has-feedback(ng-class="getCssHasFeedback(elfinForm.manager)")
                                label.col-sm-4.control-label(for="owner")
                                    em Propriétaire
                                div.col-sm-8
                                    div(
                                        hb-choose-actor,
                                        hb-choose-actor-id-name="manager",
                                        hb-choose-actor-elfin-form="elfinForm",
                                        hb-choose-actor-model="searchOwner",
                                        hb-choose-actor-tooltip="Recherche de propriétaire",
                                        hb-choose-actor-role="Propriétaire",
                                        hb-choose-actor-default-by-name="NE")


                            div.form-group
                                label.col-sm-4.control-label
                                    em Adresse
                                div.col-sm-8(ng-show="selectedImmeuble && selectedImmeuble.Id")
                                    p.form-control-static
                                        span(ng-bind="selectedImmeuble.IDENTIFIANT.ALIAS")

                                div.col-sm-8(ng-show="!selectedImmeuble || !selectedImmeuble.Id")
                                    p.form-control-static
                                        span Pas d'immeuble pour Propriétaire/No SAI

                            div.form-group.has-feedback(ng-class="getCssHasFeedback(elfinForm.groupeTrans)")
                                label.col-sm-4.control-label(for="groupeTrans") Groupe Transaction
                                div.col-sm-8
                                    select#groupeTrans.form-control(name="groupeTrans", chosen,
                                        data-placeholder=" ",
                                        disable-search="false",
                                        allow-single-deselect="false"
                                        ng-model="elfin.GROUPE",
                                        ng-options="transactionType.name as transactionType.value for transactionType in transactionTypes",
                                        ng-required="elfin.CARACTERISTIQUE.CAR1.UNITE !== 'Fonctionnement'")
                                        option(value='')

                            div#groupe-prest.form-group
                                label.col-sm-4.control-label(for="groupe-prest") Groupe Prestation
                                div.col-sm-8
                                    p.form-control-static
                                        span(ng-bind="elfin.CARACTERISTIQUE.CAR1.UNITE")

                            div.form-group.has-feedback(ng-class="getCssHasFeedback(elfinForm.year)")
                                label.col-sm-4.control-label(for="year") Année
                                div.col-sm-3
                                    input#year.form-control(name="year", type="text", ng-model="elfin.IDENTIFIANT.PAR", ng-maxlength="4", ng-minlength="4", ng-required="true")

                                label.col-sm-2.control-label(for="compte", style="color: black;") Compte
                                div.col-sm-3
                                    p#compte.form-control-static {{ elfin.IDENTIFIANT.COMPTE }}

                        <!-- 2nd column -->
                        div.col-sm-6
                            div.form-group.has-feedback(ng-class="getCssHasFeedback(elfinForm.resp)")
                                label.col-sm-4.control-label(for="resp") Resp. visa de facture
                                div.col-sm-8
                                    div.input-group
                                        input#resp.form-control(name="resp", type="text", autocomplete="off",
                                            typeahead="resp.GROUPE for resp in collaboratorActors | filter:$viewValue | limitTo:8",
                                            ng-model="elfin.IDENTIFIANT.RES", required)
                                        span.input-group-btn(tooltip="Recherche de collaborateur")
                                            button.btn.btn-default(type="button", hb-choose-one,
                                                ng-click="hbChooseOne(elfin, 'IDENTIFIANT.RES', collaboratorActors, 'GROUPE', collaboratorActorChooseOneColumnsDefinition, actorChooseOneTemplate )")
                                                i.glyphicon.glyphicon-list-alt

                            div.form-group.has-feedback(ng-class="getCssHasFeedback(elfinForm.date)")
                                label.col-sm-4.control-label(for="date") Date
                                div.col-sm-4
                                    div#date(hb-date, name="date", ng-model="elfin.IDENTIFIANT.DE")

                                label.col-sm-2.control-label(for="auteur") Auteur
                                div.col-sm-2
                                    p#auteur.form-control-static {{ elfin.IDENTIFIANT.AUT }}

                            div.form-group.has-feedback(ng-class="getCssHasFeedback(elfinForm.repartition)")
                                label.col-sm-4.control-label(for="repartition") Répartition
                                div.col-sm-8
                                    input.form-control#repartition(name="repartition", type="text", autocomplete="off",
                                        typeahead="repartition.name as repartition.value for repartition in repartitions | filter:$viewValue | limitTo:8",
                                        ng-model="elfin.CARACTERISTIQUE.CAR3.VALEUR")

                            div.form-group.has-feedback(ng-class="getCssHasFeedback(elfinForm.destinataire)")
                                label.col-sm-4.control-label(for="destinataire") Destinataire
                                div.col-sm-8
                                    div.input-group
                                        input#destinataire.form-control(name="destinataire", type="text", autocomplete="off",
                                            typeahead="actor.GROUPE for actor in entrepriseActors | filter:$viewValue | limitTo:8",
                                            ng-model="elfin.PARTENAIRE.PROPRIETAIRE.VALUE", ng-required="true")
                                        span.input-group-btn(tooltip="Recherche d'entreprise")
                                            button.btn.btn-default(type="button", hb-choose-one,
                                                ng-click="hbChooseOne(elfin, 'PARTENAIRE.PROPRIETAIRE.VALUE', entrepriseActors, 'GROUPE', actorChooseOneColumnsDefinition, actorChooseOneTemplate )")
                                                i.glyphicon.glyphicon-list-alt

                            div.form-group.has-feedback
                                label.col-sm-4.control-label(for="valeur_a_neuf") Facturé
                                div.col-sm-3
                                    input#valeur_a_neuf.form-control(type="number", ng-blur="copyValeur_a_Neuf2Valeur(elfin.IDENTIFIANT.VALEUR_A_NEUF)", ng-model="elfin.IDENTIFIANT.VALEUR_A_NEUF")

                                label.col-sm-2.control-label(for="valeur") Payé
                                div.col-sm-3
                                    input#valeur.form-control(type="number", ng-model="elfin.IDENTIFIANT.VALEUR")

                        <!-- Last line spanning two columns (col-sm-6) -->
                        div.col-sm-12
                            div.form-group.has-feedback(ng-class="getCssHasFeedback(elfinForm.remark)")
                                label.col-sm-2.control-label(for="remark") Remarque
                                div.col-sm-10
                                    input#remark.form-control(name="remark", type="text", autocomplete="off", ng-model="elfin.DIVERS.REMARQUE")

