div(hb-card-header)
    // Custom validation message to be defined here
    span(ng-show="elfinForm.alias.$error.pattern")
        != "Le budget doit être <strong>un nombre</strong> valide !"
    span(ng-show="elfinForm.alias.$error.number")
        != "Le budget doit être <strong>un nombre</strong> valide !"
    span(ng-show="elfinForm.alias.$error.required")
        != "Le budget <strong>doit être déterminé</strong>."

div.row(style="padding-top: 8px;")
    div.col-xs-12
        // ui.bootstrap AngularJS UI tabset
        tabset
            // ATTRIBUTS tab
            tab
                tab-heading Prestation
                div.hb-tab
                    div.row
                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="service") Service
                            div.col-sm-8
                                input.form-control#service(type="text", ng-model="elfin.CARACTERISTIQUE.CAR1.VALEUR")

                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="management_entity") Entité de gestion
                            div.col-sm-8
                                input.form-control#management_entity(type="text", ng-model="elfin.CARACTERISTIQUE.CAR2.VALEUR")

                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="functional") Fonctionnelle
                            div.col-sm-8
                                input.form-control#functional(type="text", ng-model="elfin.CARACTERISTIQUE.CAR3.VALEUR")

                    div.row
                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="group") Groupe
                            div.col-sm-8#group(hb-single-select hb-single-select-options="prestationGroups", ng-model="elfin.GROUPE")

                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="author") Objectif
                            div.col-sm-8
                                input.form-control#author(type="text", ng-model="elfin.IDENTIFIANT.OBJECTIF")

                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="manager") Responsable
                            div.col-sm-8
                                div.input-group
                                    input.form-control#manager(type="text", autocomplete="off",
                                        typeahead="actor.GROUPE for actor in collaboratorActors | filter:{GROUPE: $viewValue} | limitTo:8",
                                        ng-model="elfin.PARTENAIRE.GERANT.VALUE")
                                    span.input-group-btn(tooltip="Recherche de collaborateur", tooltip-popup-delay="1500")
                                        button.btn.btn-default(type="button", hb-choose-one,
                                            ng-click="hbChooseOne(elfin, 'PARTENAIRE.GERANT.VALUE', collaboratorActors, 'GROUPE', actorCollaboratorChooseOneColumnsDefinition, actorChooseOneTemplate )")
                                            i.glyphicon.glyphicon-list-alt

                    div.row
                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="goal") Groupe comptable
                            div.col-sm-8
                                input.form-control#goal(type="text", ng-model="elfin.IDENTIFIANT.ORIGINE")

                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="alias") Année
                            div.col-sm-8
                                input.form-control#alias(type="text", ng-model="elfin.IDENTIFIANT.DE")

                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="alias") Année
                            div.col-sm-8
                                div(hb-choose-actor,
                                    hb-choose-actor-id-name="owner",
                                    hb-choose-actor-elfin-form="elfinForm",
                                    hb-choose-actor-model="elfin.PARTENAIRE.PROPRIETAIRE",
                                    hb-choose-actor-tooltip="Recherche de propriétaire",
                                    hb-choose-actor-role="Propriétaire")

                    div.row
                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="analytics") Analytique
                            div.col-sm-8
                                input.form-control#analytics(type="text", ng-model="elfin.IDENTIFIANT.QUALITE")

                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="account_nature") Compte / Nature
                            div.col-sm-8
                                input.form-control#account_nature(type="text", ng-model="elfin.IDENTIFIANT.QUALITE")

                        div.form-group.col-sm-4
                            label.col-sm-4.control-label(for="valeur_a_neuf") Budget
                            div.col-sm-8
                                input.form-control#valeur_a_neuf(type="text", name="valeur_a_neuf", ng-model="elfin.IDENTIFIANT.VALEUR_A_NEUF",
                                    format-currency-number, required)

                    div.row
                        div.form-group.col-sm-12
                            label.col-sm-4.control-label(for="remark") Remarque
                            div.col-sm-11
                                input.form-control#remark(type="text", ng-model="elfin.DIVERS.REMARQUE")

                    div.row
                        div.col-sm-12
                            div.panel.panel-default
                                div.panel-heading
                                    a.btn.btn-default(type="button", tooltip="Créer une nouvelle transaction relative à la prestation courante"
                                        ng-href="/elfin/create/TRANSACTION?&sai={{elfin.IDENTIFIANT.OBJECTIF}}&Id={{elfin.Id}}&ID_G={{elfin.ID_G}}&classe=PRESTATION")
                                        i.icon-plus-sign
                                    | Transactions
                                div.panel-body
                                    table.table.table-condensed.table-bordered.table-striped
                                        thead(ng-repeat-start="(key,value) in transactions | groupBy:'GROUPE'" )
                                            tr
                                                th(colspan="2") {{key}}
                                                th.col-sm-1
                                                    a(href="", ng-click="deadlinePredicate='IDENTIFIANT.DE'; deadlineReverse=!deadlineReverse") Date
                                                th.col-sm-3
                                                    a(href="", ng-click="deadlinePredicate = 'PARTENAIRE.FOURNISSEUR.VALUE'; deadlineReverse=!deadlineReverse") Fournisseur
                                                th.col-sm-4
                                                    a(href="", ng-click="deadlinePredicate = 'DIVERS.REMARQUE'; deadlineReverse=!deadlineReverse") Remarque
                                                th.col-sm-1
                                                    a(href="", ng-click="deadlinePredicate = 'IDENTIFIANT.VALEUR_A_NEUF'; deadlineReverse=!deadlineReverse") Facturé
                                                th.col-sm-1
                                                    a(href="", ng-click="deadlinePredicate = 'IDENTIFIANT.VALEUR'; deadlineReverse=!deadlineReverse") Payé

                                        tbody(ng-repeat-end)
                                            tr(ng-repeat="transaction in value | orderBy:deadlinePredicate:deadlineReverse")
                                                td
                                                    div(hb-card-view-link, hb-href="/elfin/{{transaction.ID_G}}/TRANSACTION/{{transaction.Id}}")
                                                td
                                                    div(hb-annexes-link hb-annexes-link-elfin="transaction")
                                                td
                                                    span {{transaction.IDENTIFIANT.DE | date}}
                                                td
                                                    span {{transaction.PARTENAIRE.PROPRIETAIRE.VALUE}}
                                                td
                                                    span {{transaction.DIVERS.REMARQUE}}
                                                td.number
                                                    span {{transaction.IDENTIFIANT.VALEUR_A_NEUF | currency:'CHF'}}
                                                td.number
                                                    span {{transaction.IDENTIFIANT.VALEUR | currency:'CHF'}}
                                            tr.subtotal
                                                td(colspan="5")
                                                    | Sous total {{key | lowercase}}
                                                td.total.number
                                                    | {{ (( value | map: 'IDENTIFIANT.VALEUR_A_NEUF' | map: multiplyBy100 | sum ) / 100 ) | currency:'CHF' }}
                                                td.total.number
                                                    | {{ (( value | map: 'IDENTIFIANT.VALEUR' | map: multiplyBy100 | sum ) / 100 ) | currency:'CHF'}}

                                        tfoot
                                            tr.grandtotal
                                                td(colspan="5")
                                                    | Total
                                                td.total.number
                                                    | {{transactions | map: 'IDENTIFIANT.VALEUR_A_NEUF' | sum | currency:'CHF'}}
                                                td.total.number
                                                    | {{transactions | map: 'IDENTIFIANT.VALEUR' | sum | currency:'CHF'}}

                                            tr.grandtotal
                                                td(colspan="6")
                                                    | Budget
                                                td.total.number
                                                    | {{elfin.IDENTIFIANT.VALEUR_A_NEUF | currency:'CHF'}}

                                            tr.grandtotal
                                                td(colspan="6")
                                                    | Solde
                                                td.total.number
                                                    | {{elfin.IDENTIFIANT.VALEUR_A_NEUF - (transactions | map: 'IDENTIFIANT.VALEUR' | sum) | currency:'CHF'}}
