div.col-sm-12.hb-upload-progressbar-container(
    style="text-align: center; vertical-align: middle;",
    flow-name="config.ngflow",
    flow-drag-enter="dropStyle={border:'1px solid #357ebd', background:'#B7D3EB', borderRadius:'.25em'}",
    flow-drag-leave="dropStyle={}",
    ng-style="dropStyle",
    flow-init,
    flow-drop,
    flow-file-added="flowFileAdded($file, $event, $flow)",
    flow-upload-started="flowUploadStarted($flow)",
    flow-file-success="flowFileSuccess($file, $message, $flow)",
    flow-file-error="flowFileError($file, $message)")

    script(id="hbUploadFileTypeModal.html", type="text/ng-template")
        div.modal-header
            h3.modal-title Sélectionner le type de fichier

        div#modal-body.modal-body
            ul
                li(ng-repeat="item in items")
                    a(href="#", ng-click="$event.preventDefault(); selected.item = item") {{ item.name }}

            span
                | Sélection:&nbsp;
                b {{ selected.item.name }}

        div.modal-footer
            button.btn.btn-primary(type="button", ng-click="ok()") OK
            button.btn.btn-warning(type="button", ng-click="cancel()") Cancel

    div.col-sm-12
        div.btn.btn-default.btn-xs(flow-btn, ng-disabled="$flow.isUploading() || !$flow.support")
            i.glyphicon.glyphicon-folder-open

        div.btn-group(dropdown, ng-show="{{ canSelectAnnexType() }}", style="padding: 0;")
            button.btn.btn-default.btn-xs.dropdown-toggle(style="min-width:120px", dropdown-toggle, type="button", data-toggle="dropdown", width="150%")
                | {{selectedUploadFileType.name}} &nbsp;
                i.glyphicon.glyphicon-chevron-down

            ul.dropdown-menu(dropdown-menu, role="menu")
                li.dropdown-header(role="presentation") Type de téléversement
                li(ng-repeat="uploadFileType in uploadFileTypes", ng-click="selectUploadFileType(uploadFileType)")
                    a(role="menuitem", tabindex="-1", href="#") {{ uploadFileType.name }}

        div.btn.btn-default.btn-xs(ng-click="flowUpload($flow)", ng-disabled="!canUpload() || $flow.files.length < 1 || $flow.isUploading() || !$flow.support")
            i.glyphicon.glyphicon-upload

        div.btn.btn-default.btn-xs(ng-click="flowCancel($flow)", ng-disabled="$flow.files.length < 1")
            i.glyphicon.glyphicon-remove-circle

        progressbar.progress-striped.hb-upload-progressbar(max="1", value="$flow.progress()", ng-show="$flow.isUploading()")
            div.centre(style="color: black; width: 100%") {{ ($flow.progress()*100) | number:0 }}%

    div.col-sm-12
        div.label(ng-class="hbUploadStatusLabelCss", ng-if="$flow.files.length > 0") {{ $flow.files[0].name }}